.resume-biography {
    #profile {
      text-align: center;
      padding: 20px 10px;
      position: relative;
    }
  
    /* Custom avatar size on homepage */
  
    .avatar {
      width: auto;
      height: auto;
      max-width: 225px;
      max-height: 225px;
      object-fit: cover;
    }
  
  .avatar-wrapper {
    position: relative;
    width: 150px; /* Match image size in about.avatar widget */
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');

:root {
    font-family: 'Source Serif 4', -apple-system, 'Nimbus Roman No9 L', 'Kaiti SC', 'Hiragino Sans GB', 'Noto Serif SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', serif;
}