.resume-biography {
    profile {
      text-align: left;
      padding: 10px 10px;
      position: relative;
    }
  
    /* Custom avatar size on homepage */
  
    .avatar {
      width: auto;
      height: auto;
      max-width: 225px;
      max-height: 225px;
      object-fit: cover;
    }
  
  .avatar-wrapper {
    position: relative;
    width: 150px; /* Match image size in about.avatar widget */
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: "Rubik", 'Roboto", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}