.resume-biography {
    profile {
      text-align: center;
      padding: 20px 10px;
      position: relative;
    }
  
    /* Custom avatar size on homepage */
  
    .avatar {
      width: auto;
      height: auto;
      max-width: 225px;
      max-height: 225px;
      object-fit: cover;
    }
  
  .avatar-wrapper {
    position: relative;
    width: 150px; /* Match image size in about.avatar widget */
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    font-family: rubik-font
}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}