{{ with $person.extracurricular }}
<div class="">
  <div class="section-subheading mb-3" style="color:white">{{ i18n "extracurricular" | markdownify }}</div>
  <ul class="">
    {{ range . }}
    <li class="flex items-start gap-3">
      {{ partial "functions/get_icon" (dict "name" "academic-cap" "attributes" "style=\"\" class='flex-shrink-0 w-5 h-5 me-2 mt-1'") }}
      <div class="description" style="color:white">
        <p class="course" style="color:white">{{ .area }}{{ with .year }}, {{ . }}{{ end }}</p>
        <p class="text-sm" style="color:white">{{ .institution }}</p>
      </div>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}