{{ $page := . }}
{{ $social_links := $page.Params.social_links }}

<div class="flex flex-col items-center max-w-prose mx-auto gap-3 justify-center">

  <div class="mb-6 text-3xl font-bold text-gray-900 dark:text-white">
    {{ .Title | markdownify | emojify }}
  </div>

  <div class="w-full flex flex-col gap-6">
  {{ if $social_links }}
  {{ range $idx, $link := $social_links }}
  <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    {{- $icon := $link.icon }}
    {{ with $icon }}
    <div class="w-7 h-7 text-gray-500 dark:text-gray-400 mb-3">
      {{ partial "functions/get_icon" (dict "name" $icon "pack" "brands" "attributes" "style=\"height: 100%;\"")  }}
    </div>
    {{ end}}
    {{with $link.url}}<a href={{.}} target="_blank" rel="noopener">{{end}}
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ $link.title | markdownify | emojify }}</h5>
    {{with $link.url}}</a>{{end}}
  </div>
  {{end}}
  {{end}}
  </div>
</div>